<!DOCTYPE html>
<html>
  <head>
    <title>Scheduler4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if user_signed_in? %>
      Welcome <%= current_user.email %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <br>
      <nav>
        <p>
          <%= link_to 'Home', {:controller => 'welcome', :action => 'index'} %>
          <%= link_to 'Staff', {:controller => 'employees', :action => 'index'} %>
          <%= link_to 'Jobs', {:controller => 'jobs', :action => 'index'} %>
        </p>
      </nav>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
